# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml
*.class

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
*.jks

# IDE
.idea/
.vscode/

# Misc
.DS_Store
